<tr>
	<td><%= f.label :first_name %></td>
	<td><%= f.text_field :first_name %></td>
	<td><%= f.label :last_name %></td>
	<td><%= f.text_field :last_name %></td>
</tr>
<tr>
	<td><%= f.label :health_card %></td>
	<td><%= f.text_field :health_card %></td>
	<td><%= f.label :medical %></td>
	<td><%= f.text_field :medical %></td>
</tr>
<tr>
	<td><%= f.label :grade %></td>
	<td><%= f.text_field :grade %></td>
	<td><%= f.label :child_class %></td>
	<td><%= f.text_field :child_class %></td>
</tr>
<tr>
	<td><%= f.label :campus %></td>
	<td><%= f.text_field :campus %></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td><%= f.label :emergency_first_name %></td>
	<td><%= f.text_field :emergency_first_name %></td>
	<td><%= f.label :emergency_last_name %></td>
	<td><%= f.text_field :emergency_last_name %></td>
</tr>
<tr>
	<td><%= f.label :emergency_phone %></td>
	<td><%= f.text_field :emergency_phone %></td>
	<td><%= f.label :shoe_size %></td>
	<td><%= f.text_field :shoe_size %></td>
</tr>