<tr>
	<td><%= f.label :first_name %></td>
	<td><%= f.text_field :first_name %></td>
	<td><%= f.label :last_name %></td>
	<td><%= f.text_field :last_name %></td>
</tr>
<tr>
	<td><%= f.label :email %></td>
	<td><%= f.text_field :email %></td>
	<td><%= f.label :father_email %></td>
	<td><%= f.text_field :father_email %></td>
</tr>
<tr>
	<td><%= f.label :mother_first_name %></td>
	<td><%= f.text_field :mother_first_name %></td>
	<td><%= f.label :mother_last_name %></td>
	<td><%= f.text_field :mother_last_name %></td>
</tr>
<tr>
	<td><%= f.label :father_first_name %></td>
	<td><%= f.text_field :father_first_name %></td>
	<td><%= f.label :father_last_name %></td>
	<td><%= f.text_field :father_last_name %></td>
</tr>
<tr>
	<td><%= f.label :mother_work_phone %></td>
	<td><%= f.text_field :mother_home_phone %></td>
	<td><%= f.label :father_work_phone %></td>
	<td><%= f.text_field :father_work_phone %></td>
</tr>
<tr>
	<td><%= f.label :address %></td>
	<td><%= f.text_field :address %></td>
	<td><%= f.label :city %></td>
	<td><%= f.text_field :city %></td>
</tr>
<tr>
	<td><%= f.label :postal_code %></td>
	<td><%= f.text_field :postal_code %></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td><%= f.label :password %></td>
	<td><%= f.text_field :password %></td>
	<td><%= f.label :password_confirmation %></td>
	<td><%= f.text_field :password_confirmation %></td>
</tr>