<div class="field">
  <%= f.label :program_name %><br />
  <%= f.text_field :program_name %>
</div>
<div class="field">
  <%= f.label :day %><br />
  <%= f.text_field :day %>
</div>
<div class="field">
  <%= f.label :price %><br />
  <%= f.text_field :price %>
</div>
<div class="field">
  <%= f.label :status %><br />
  <%= f.text_field :status %>
</div>
<div class="field">
  <%= f.label :dates %><br />
  <%= f.text_field :dates %>
</div>
<div class="field">
  <%= f.label :max_registrants %><br />
  <%= f.text_field :max_registrants %>
</div>